
//mixin for pixel conversion to rem
@mixin font-size($size){
    $rem: $size/16;
    font-size: $size * 1px;
    font-size: $rem * 1rem;

}

// mixin to get element
@mixin t-bem-element( $elements... ) {
    $elements-list: ();
    $prefix-selector: '#{&}__';
    @each $element in $elements {
      $elements-list: append( $elements-list , ( $prefix-selector + $element ) , comma );
    }
    @at-root #{$elements-list} {
      @content;
    }
  }
  

  //mixin to get modifiers
  @mixin t-bem-modifier( $modifiers... ) {
    $modifiers-list: ();
    $prefix-selector: '#{&}--';
    @each $modifier in $modifiers {
      $modifiers-list: append( $modifiers-list , ( $prefix-selector + $modifier ) , comma );
    }
    @at-root #{$modifiers-list} {
      @content;
    }
  }