// Variables


// Typo
$base-font: 'Montserrat', sans-serif;
$regular: 400;
$medium: 500;




// Colors
$light-purple:#A1C4FD;
$light-blue:#C2E9FB;
$blue:#324BFF;
$dark-grey:#CCCCCC;
$medium-grey:#0000001F;
$light-grey: #F7F7F7;
$black: #333;