.prompt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.prompt.is-visible {
  visibility: visible;
  opacity: 1;
}

.prompt--content {
  position: relative;
  cursor: default;
  background-color: white;
  border-radius: 20px;
}

.prompt--form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  width: 700px;
}

.prompt--buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

[data-animation=animation] .prompt--content {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.8s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

[data-animation=animation].is-visible .prompt--content {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}